body{
    padding: 30px;
}

.container{
    width: 100%;
    display: flex;
    gap: 10px;
}


.right_bar{
    width: 400px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

input ,select{
    height: 40px;
    padding: 10px;
    border: none;
    border-bottom: 1.5px solid #333;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
select:focus {
    outline: none;
    border-bottom: 2px solid #000;
}


.valid-input {
    border-bottom: 3px solid #0abd01 !important;
}

.invalid-input {
    border-bottom: 3px solid #ff0000 !important;
}
.right_bar select{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
#image_container img{
    align-self: center;
  
box-shadow: 0px 0px 10px rgb(168, 168, 168);
 
    border-radius: 10px;
  
    
}
button:hover{
    opacity: 0.8;
}
h1{
    padding: 0px;
    margin: 0px;
}
.parent {
    flex: 1; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    border: black solid 5px;
}
.div1 {
    height: 200px;
    background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
      background-color: aquamarine;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
}

.div4 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.div5 {
      background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div6 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div7 {
      background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div8 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1;
}

.div9 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}
        