body{
    padding: 30px;
}

.container{
    
    display: flex;
    gap: 10px;
   
}


.right_bar{
    width:20%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

input ,select{
    height: 40px;
    padding: 10px;
    border: none;
    border-bottom: 1.5px solid #333;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
select:focus {
    outline: none;
    border-bottom: 2px solid #000;
}


.valid-input {
    border-bottom: 3px solid #0abd01 !important;
}

.invalid-input {
    border-bottom: 3px solid #ff0000 !important;
}
.right_bar select{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
#image_container img{
    align-self: center;
  
box-shadow: 0px 0px 10px rgb(168, 168, 168);
 
    border-radius: 10px;
  
    
}
button:hover{
    opacity: 0.8;
}
h1{
    padding: 0px;
    margin: 0px;
}
.parent {
    width: 79%;        
    height: 600px;       
 
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
    gap: 8px;
    border: black solid 5px;
}
.div1 {
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
      
    grid-row: span 5 / span 5;
    grid-column-start: 3;

}

.div4 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
    grid-row: span 2 / span 2;

    grid-column-start: 4;
}

.div5 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div6 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div7 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div8 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1;
}

.div9 {
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
    
}
@media (max-width: 1279px) {
    .container {
     flex-direction: column;
     transition: all 5s;
}
.right_bar{
    width: 60%;
}
}
@media (max-width: 1024px) {
   .parent{
    width: 600px;
    height: 600px;
    transform: rotate(90deg);
   }
}
@media (max-width: 750px) {
   .parent{
    width: 450px;
    height: 450px;
   
   }
}
@media (max-width: 480px) {
   .parent{
    width: 350px;
    height: 350px;
   }
}
@media (max-width: 360px) {
   .parent{
    width: 200px;
    height: 200px;
    
   }
}   