.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.card_checked{
    border: #0abd01 2px solid;
}
nav{
   
    padding: 10px 0px;
     background-color: #7e7e7e;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container{
    
    display: flex;
    gap: 10px;
   
}


.right_bar{
    width:20%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

input ,select{
    height: 40px;
    padding: 10px;
    border: none;
    border-bottom: 1.5px solid #333;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
select:focus {
    outline: none;
    border-bottom: 2px solid #000;
}


.valid-input {
    border-bottom: 3px solid #0abd01 !important;
}

.invalid-input {
    border-bottom: 3px solid #ff0000 !important;
}
.right_bar select{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
#image_container img{
    align-self: center;
  
box-shadow: 0px 0px 10px rgb(168, 168, 168);
 
    border-radius: 10px;
  
    
}
button:hover{
    opacity: 0.8;
}
h1{
    padding: 0px;
    margin: 0px;
}
.parent {
    width: 79%;        
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: black solid 5px;
}
.div1 {
  
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: #E7E7E7;
   
}

.div2 {
  
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;
      
   
     
}

.div4 {
  
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;
 
}

.div5 {
  
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;
 
}

.div6 {
  
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;

}
   .right_bar{
    /* width: 60%; */
    display: none;
       

}
.div7 {
  
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;
 
}

.div8 {
    
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;

}

.div9 {
  
    display:flex;
    justify-content: center;
    align-items: center;
      background-color: #E7E7E7;

    
}
@media (max-width: 1279px) {
    .container {
     flex-direction: column;
     transition: all 5s;
     
}
.sales3{
    flex-direction: row !important;
}
.div8 , .div9{
    width: 100%;
}
.right_bar{
    /* width: 60%; */
   display: none !important;
   
}
}
@media (max-width: 1024px) {

.sales3{
    flex-direction: column !important;
}
   .right_bar{
    /* width: 60%; */
    display: none;
       

}
}
@media (max-width: 750px) {

   .right_bar{
    /* width: 60%; */
    display: none;
   
}
}
@media (max-width: 560px) {
    .parent{
        overflow-y: scroll;

    }

   .right_bar{
    /* width: 60%; */
    display: none;
}

}
@media (max-width: 360px) {

}   