body{
    padding: 30px;
}

.container{
    
    display: flex;
    gap: 10px;
   
}


.right_bar{
    width:20%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

input ,select{
    height: 40px;
    padding: 10px;
    border: none;
    border-bottom: 1.5px solid #333;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
select:focus {
    outline: none;
    border-bottom: 2px solid #000;
}


.valid-input {
    border-bottom: 3px solid #0abd01 !important;
}

.invalid-input {
    border-bottom: 3px solid #ff0000 !important;
}
.right_bar select{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
#image_container img{
    align-self: center;
  
box-shadow: 0px 0px 10px rgb(168, 168, 168);
 
    border-radius: 10px;
  
    
}
button:hover{
    opacity: 0.8;
}
h1{
    padding: 0px;
    margin: 0px;
}
.parent {
    width: 79%;        
    height: 600px;       
 
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
    gap: 8px;
    border: black solid 5px;
}
.div1 {
    position: relative;
    background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    background-image: url("imges/zlij_2.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.chases_1{
    height:fit-content;
    text-align: center;
}
.chases_2{
    height:fit-content;
    text-align: center;
}
.cheses{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.img_tele{
    position: absolute;
    left: 0px;
}
.div2 {
      background-color: aquamarine;
      background-image: url("imges/bg_zlij.png");
    grid-row: span 5 / span 5;
    grid-column-start: 3;
}

.div4 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
display: flex;
justify-content: space-evenly;
    grid-column-start: 4;
      background-image: url("imges/zlij_2.png");
}
.khizana{
}

.div5 {
      background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
    background-image: url("imges/bg_zlij.png");
}

.div6 {
    display: flex;
   position: relative;
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
      background-image: url("imges/zlij_2.png");
}
.fotai_1{
position: absolute;
bottom: 0px;
right: 0px;

}
.img_tele_2{
    align-self: center;
}
.div7 {
    position: relative;
      background-color: aquamarine;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
    background-image: url("imges/zlij_2.png");
}
.table_3{
    position: absolute;
    left: 80px;
    top: 80px;
    width: 150px;
    height: 150px;
}

.biro_3{
    width: 150px;
    height: 130px;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotate(180deg);
}
.div8 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1;
    background-image: url("imges/zlij_2.png");
}

.biraux_8{
align-self: flex-end;
}

.div9 {
      background-color: aquamarine;
    grid-row: span 2 / span 2;
    grid-column-start: 5;

    grid-row-start: 4;
    background-image: url("imges/zlij_2.png");
    display: flex;
    gap: 10px;
    
}
.khizana_2{
    width: 90;
}
@media (max-width: 1279px) {
    .container {
     flex-direction: column;
     transition: all 5s;
}
.table_3{

    width: 110px;
    height: 110px;
}
.ches_3{
    width: 150px;
    height: 150px;  
}
.biro_3{
    width: 90px;
    height: 90px;
    
    transform: rotate(180deg);
}
.right_bar{
    width: 60%;
}
}
@media (max-width: 1024px) {
   .parent{
    width: 600px;
    height: 600px;
    transform: rotate(90deg);
   }
   .table_3{

    width: 90px;
    height: 90px;
}
.ches_3{
    width: 110px;
    height: 110px;  
}
.biro_3{
    width: 90px;
    height: 90px;
    
    transform: rotate(180deg);
}


.ches_1{
height: 10px;
}
.table_1{
     width: 130px;
    height: 90px; 
}
}
.img_tele{
    width: 20px;
}
@media (max-width: 750px) {
   .parent{
    width: 450px;
    height: 450px;
   
   }
}
@media (max-width: 480px) {
   .parent{
    width: 350px;
    height: 350px;
   }
}
@media (max-width: 360px) {
   .parent{
    width: 200px;
    height: 200px; 
   }
   .table_3{
    width: 50px;
    height: 50px;
}
.ches_3{
    width: 50px;
    height: 50px;  
}
.biro_3{
    width: 30px;
    height: 30px;
    
    transform: rotate(180deg);
}
}   